:root {
  --blue-intro: hsl(217, 28%, 15%);
  --blue-main: hsl(218, 28%, 13%);
  --blue-footer: hsl(216, 53%, 9%);
  --blue-testimonials: hsl(219, 30%, 18%);
  --white: hsl(0, 0%, 100%);
  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --gradient: linear-gradient(
    to right,
    var(--cyan-gradient),
    var(--blue-gradient)
  );

  --heading-font: 'Kanit', sans-serif;
  --result-font: 'Fira Code', monospace;
  --padding-container: 60px 0;
  --height:70px;
  --main-text-color: white;
  --height: 70px;
  --distance-items-submenu: 15px;
  --white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)	
	--prueba: (180deg,#21c8f6,#637bff);
}
