:root {
  --blue-intro: hsl(217, 28%, 15%);
  --blue-main: hsl(218, 28%, 13%);
  --blue-footer: hsl(216, 53%, 9%);
  --blue-testimonials: hsl(219, 30%, 18%);
  --white: hsl(0, 0%, 100%);
  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --gradient: linear-gradient(
    to right,
    var(--cyan-gradient),
    var(--blue-gradient)
  );
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
  --padding-container: 60px 0;
  --height:70px;
  --main-text-color: white;
}
